@tailwind base;
@tailwind components;
@tailwind utilities;

@layer pages {
  .styles-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.14) !important;
    border-radius: 2px;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.02);
    padding: 12px;
  }
  .styles-input {
    outline: none;
    flex: 1;
    flex-shrink: 0;
    filter: none;
  }
  .error {
    margin: 0;
    padding: 5px 0 0;
    font-size: 12px;
    color: #ff424f;
    min-height: 16px;
  }
}

.shopee-rating-stars {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
}

.shopee-rating-stars__star-wrapper {
  position: relative;
  margin-right: 1px;
}

.shopee-rating-stars__star-wrapper > .shopee-rating-stars__lit {
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.shopee-rating-stars__primary-star {
  color: #ee4d2d;
  stroke: #ee4d2d;
  display: block;
  position: absolute;
  left: 0;
}

.shopee-rating-stars__star-wrapper {
  position: relative;
  margin-right: 1px;
}

.shopee-rating-stars__stars {
  display: flex;
}

.shopee-svg-icon {
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  position: relative;
}

.shopee-rating-stars__primary-star {
  color: #ee4d2d;
  stroke: #ee4d2d;
  display: block;
  position: absolute;
  left: 0;
}

.icon-free-shipping-line,
.icon-shipping-airplane {
  font-size: 1.25rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  stroke: #000;
}

.shopee-drawer {
  display: flex;
  position: relative;
  overflow: visible;
  outline: 0;
}

.shopee-input-quantity {
  background-color: #fff;
}

.sprite-product-sharing-fm {
  background-position: 0 -100%;
  height: 190px;
  width: 190px;
}

.sprite-product-sharing {
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/73e1841f9b750652.png);
  background-size: 100%;
}

.page-product__detail,
.page-product__hot-sales,
.page-product__info,
.page-product__ratings,
.page-product__recycle,
.page-product__shop,
.page-product__shop-voucher {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  overflow: hidden;
  background: #fff;
  margin-top: 1.5rem;
  padding: 1rem;
}

.official-shop-new-badge {
  display: flex;
  justify-content: center;
}

.page-product__detail,
.page-product__hot-sales,
.page-product__info,
.page-product__ratings,
.page-product__recycle,
.page-product__shop,
.page-product__shop-voucher {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  overflow: hidden;
  background: #fff;
  margin-top: 0.9375rem;
  padding: 0.625rem;
}
